.Modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  overflow: hidden;
  animation: opacity 0.3s ease-in-out;
}

.Backdrop {
  z-index: 50;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Content {
  z-index: 100;
  position: relative;
  background: #fff;
  margin: auto;
  padding: 30px 40px;
  border-radius: 8px;
}

.Close {
  position: absolute;
  top: 10px;
  right: -35px;
  cursor: pointer;
  transition: 0.2s transform ease;
}

.Close:hover {
  transform: scale(1.1);
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .Close {
    top: 15px;
    right: 15px;
    fill: #000;
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 480px) {
  .Content {
    padding: 25px 30px;
    width: calc(100% - 40px);
  }
}
