body {
  margin: 0;
  font-family: 'Open-Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input:not([type='checkbox']):not([type='radio']),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  outline: none;
  border: none;
}

input {
  border-radius: 0;
}

input,
textarea {
  outline: none;
  border: none;
}
input:active,
textarea:active {
  outline: none;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
input:focus,
select:focus {
  outline: 0;
}
